@import "vars";

.half-opacity {
  opacity: .54;
}

.micro-opacity {
  opacity: .87;
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: normal;
}

.caption {
  font-size: 12px;
  @extend .half-opacity;
}
