@import "vars";

$step: 100% / $color-count - 0.5%;
@each $k, $v in $colors {
  @for $i from 1 through $color-count {
    $index: $i - 1;
    $precent: $step*$index;
    .bg-#{""+$k}-#{$color-count - $index} {
      background-color: lighten($v, $precent) !important;
    }
    .fg-#{""+$k}-#{$color-count - $index} {
      color: lighten($v, $precent) !important;
    }
    @if ($index==round($color-count/2)-1) {
      .bg-#{""+$k} {
        background-color: lighten($v, $precent) !important;
      }
      .fg#{""+$k} {
        color: lighten($v, $precent) !important;
      }
    }
  }
}

.bg-white {
  background-color: #fff !important;
}

.bg-black {
  background-color: #000 !important;
}
