@import "vars";

.row {
  display: flex !important;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row-inline {
  display: inline-flex;
}

.col {
  flex: 1;
}

.pull-right {
  align-items: flex-end;
}

.pull-left {
  align-content: flex-end;
}

@each $i in (flex-start, flex-end, center, space-between, space-around) {
  .#{$i} {
    justify-content: $i;
  }
}

@each $i in (flex-start, flex-end, center, stretch, baseline) {
  .v-#{$i} {
    align-items: $i;
  }
}

@mixin w($v) {
  width: (100%/$col-count)*$v;
  flex: none;
}

@mixin offset($v) {
  margin-left: (100%/$col-count)*$v;
}

$arr: xs, sm, md, lg, xl;
@mixin loop($k:'',$h:'') {
  @for $i from 0 through $col-count {
    .col-#{$k}#{$h}#{$i} {
      @include w($i)
    }
    .offset-#{$k}#{$h}#{$i} {
      @include offset($i);
    }
  }
}

@include loop();
@for $i from 1 through length($arr)-1 {
  $k: nth($arr, $i);
  @if ($k==lg) {
    @media (min-width: #{map-get($breakPoint,$k)+1}) {
      @include loop($k, '-')
    }
  } @else {
    @media (min-width: #{map-get($breakPoint,$k)+1}) and (max-width: #{map-get($breakPoint,nth($arr,$i+1))}) {
      @if ($k==xs) {
        .only-desktop {
          display: none !important;
        }
        body{
          font-size: 14px !important;
        }
      }
      @include loop($k, '-')
    }
  }
}

@media (min-width: map-get($breakPoint, sm)) {
  .only-mobile {
    display: none !important;
  }
}
