@import "vars";

.ripple {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 50%, transparent 50.01%);
    transform: scale(2);
    opacity: 0;
    transition: transform .3s ease-out, opacity .6s ease-out;
  }
  &:active:after {
    transform: scale(0, 0);
    opacity: .7;
    transition: 0s;
  }
}

