* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:after, :before {
  box-sizing: inherit;
}

html {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}
