$size: 16px;
$colors: (
  rd:#4a0904, //red
  org:#501900, //orange
  yl:#472b00, //yellow
  gn:#142f15, //green
  cy:#001f1c, //cyan
  bu:#042e50, //blue
  pl:#21133a, //purple
  bn:#221717, //brown
  bgy:#151b1e, //bluegrey
  gy:#222, //grey
);
$col-count: 12;
$color-count: 7;
$breakPoint: (
  xs:-1px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
