@import "vars";
//+prefix-classes("btn")
xs = sizes.xs
md = sizes.md
.btn
  @extend .row-inline
  align-items center
  user-select none
  font-weight bold
  white-space nowrap
  letter-spacing 1px
  padding .4em .8em
  cursor pointer
  text-transform uppercase
  line-height 1
  vertical-align middle
  @extend .ripple
  &:hover
    opacity .85
  &-round
    border-radius 2em
  &-round-left
    border-top-left-radius 2em
    border-bottom-left-radius 2em
  &-round-right
    border-top-right-radius 2em
    border-bottom-right-radius 2em
  &.radius-round
    padding .4em

.round > .btn
  &:first-child
    @extend .btn-round-left
  &:last-child
    @extend .btn-round-right

ft = 2
for k, i in keys(sizes)
  .btn-{k}
    font-size 10px +ft
  ft+= 2

.btn-group
  @extend .row-inline
  overflow hidden

  &.splite > .btn
    border-right 1px solid #fff
    &:last-child
      border none
