@import "vars.styl"
step = 100% / color-count - 0.5
important(val, precent)
  lighten(val, precent)

loop(k, val, precent = 0)
  .bg-{k}
    background-color: important(val, precent);
  .fg-{k}
    color: important(val, precent);

for key, val in colors
  for index in (1..color-count)
    i = index - 1
    k = key + '-' + (color-count - i)
    precent = step * i
    loop(k, val, precent)
    if i== floor(color-count / 2)
      loop(key, val, precent)

loop('white', #fff)
loop('black', #000)
.bg-none
  background-color: transparent;

[class*=bg-] {
  color #fff
}
