w = 100 / col-count
ks = keys(breakPoint)

loop(media = false, k = '', v = 0)
  unquote(media? ("@media (min-width:" + breakPoint[k] + "){"):"")
  k = media? k+ '-':k
  for i in (1..col-count)
    _w = floor(i * w * 1000) / 1000 + '%'
    .col-{k+i}
      flex 0 0 _w
      max-width _w
    .offset-{k+i}
      margin-left _w
  unquote(media? "}":"")

.row
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content flex-start
  word-break break-all
  &-inline
    display inline-flex
    max-width 100%

.reverse
  flex-direction row-reverse

for k, v in horizontal
  .row-{k}
    justify-content v

for k, v in verticals
  .cols-{k}
    align-items v
  .self-{k}
    align-self v

.nowrap
  flex-wrap nowrap

.order-first
  order: -1

.order-last
  order: 666

.pull-right
  margin-left auto

.pull-left
  margin-rigth auto

.pull-center
  margin auto

.pull-top
  margin-bottom auto

.pull-bottom
  margin-top auto

.col
  flex 1

for k, v in sizes
  .gutter-{k}
    margin - v 0 0 - v
    > [class*=col-]
      padding v 0 0 v

loop()
for k, v in ks
  loop(true, k, v)

@media (min-width: mobile-break + 1)
  .only-mobile
    display none

@media (max-width: mobile-break)
  .only-desktop
    display none

  /*body
    font-size 14px*/























