$ellipsis
  text-overflow: ellipsis
  overflow: hidden

$ellipsis2
  @extend $ellipsis
  display -webkit-box
  -webkit-box-orient vertical
+prefix-classes("ft-")
  \.0
    font-size 0
  for item in (12..font-count)
    if even(item)
      .{item}
        font-size item + 0px
  .bold
    font-weight bold

  .thin
    font-weight normal

  .italic
    font-style italic

for item in 10 15 20 25 30
  .lh-{item}
    line-height item * 0.1

.ellipsis
  @extend $ellipsis
  white-space: nowrap

for item in 2 3
  .ellipsis-{item}
    @extend $ellipsis2
    -webkit-line-clamp: item;

for item in left right center
  .text-{item}
    text-align item

