.ripple {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    z-index 99
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #ddd 50%, transparent 50.01%);
    transform: scale(2);
    opacity: 0;
    transition: transform .3s ease-out, opacity .6s ease-out;
  }
  &:active:after {
    transform: scale(0);
    opacity: .7;
    transition: 0s;
  }
}

.no-ripple:after
  content none

.none
  display none !important

.block
  display block

[icon], [icon-right] {
  &:before {
    @extend .material;
  }
}

[icon]:before {
  content: attr(icon);
}

[icon-right]:before {
  content: attr(icon-right);
  order: 1;
}

for item in '' '-x' '-y'
  .hide{item}
    overflow{item} hidden

.invisble
  visibility hidden

.visble
  visibility visible

for item, i in 'padding' 'margin'
  k1 = substr(item, 0, 1)
  for key, v in sizes
    for granditem, k in 'x' 'y' 'a'
      .{k1+granditem+'-'+key}
        {item} k == 0 ? (0 v):(k == 1 ? (v 0):v)
    for granditem, k in 'top' 'left' 'bottom' 'right'
      k1 = substr(item, 0, 1)
      k2 = substr(granditem, 0, 1)
      .{k1+k2+'-'+key}
        {item + '-' + granditem} v
  .{k1}-\0
    {item} 0

.static
  position static !important

.relative
  position relative

.absolute
  position absolute
  z-index 9

.fixed
  position fixed
  z-index 99

for item in left top right bottom
  .float-{item}
    {item}: 0

.float-center
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.z-top
  z-index 9999

.z-bottom
  z-index -1

.full-width
  width 100%

.full-height
  height 100%

.full
  @extend .full-width
  @extend .full-height

.full-width-win
  width 100vw

.full-height-win
  height 100vh

.full-win
  @extend .full-width-win
  @extend .full-height-win

for item in top middle bottom
  .va-{item}
    vertical-align item

.unselect
  user-select none

[disabled]
  cursor not-allowed !important
  opacity .7

.disabled
  pointer-events none
  opacity .7

.radius-round
  border-radius 50%

for k, v in sizes
  .radius-{k}
    border-radius (v / 2)

.unshadow
  box-shadow none

for item, index in '' 'up-'
  n = index == 0 ? 1:-1
  .shadow-{item}1
    box-shadow 0 n* 1px 0 0 shadow-color
  for k, v in sizes
    .shadow-{item+k}
      box-shadow 0 n* (v / 4) (v / 2) 0 shadow-color
























