+prefix-classes("gm-")
  .input
    @extend .row,.full-width,.pt-lg,.unselect
    &-filed
      flex 1
      color inherit
      border-bottom 1px solid currentColor
    &-header
      @extend .full-width,.order-first
      transform-origin left center
      transition transform .2s ease-out
      transform translate3d(0, 2em, 0)
    &-footer
      @extend .row,.ft-12,.lh-10,.full-width,.row-between
      opacity .5
      &:before
        content ""
        display block
        height 2px
        background-color: currentColor;
        margin-top -1px
        transition transform .2s ease-out
        transform scale(0)
        @extend .full-width

.gm-input-filed:focus
  @extend .fg-org
  ~.gm-input-header
    transform translate3d(0, 0, 0) scale(.85)
  ~.gm-input-footer:before
    transform scale(1)

