*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout none
}

body {
  font-family font-family
  font-weight font-weight
  font-size font-size
  line-height line-height
  color: body-fg;
  background-color: body-bg;
  min-height 100vh
  width 100vw
  overflow-x hidden
}

\@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, fieldset, legend, form, input, button, textarea, p, th, td {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

caption, cite, code, i, em, strong, th {
  font-style: normal;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  border-style: none;
  vertical-align: middle;
}

img, embed, object, video {
  max-width: 100%;
}

ol, ul, li {
  list-style: none;
}

input, textarea, select, button {
  font inherit
  line-height: inherit;
  -webkit-appearance: none;
  border 0
  outline 0
  background: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

table {
  border-collapse: collapse;
}

[hidden] {
  display: none !important;
}
