//颜色
preffix = "gm-"
color-count = 7
colors = {
  rd:#4a0904, //red
  org:#501900, //orange
  yl:#472b00, //yellow
  gn:#142f15, //green
  cy:#001f1c, //cyan
  bu:#042e50, //blue
  pl:#21133a, //purple
  bn:#221717, //brown
  bgy:#151b1e, //bluegrey
  gy:#222222, //grey
}
//断点
breakPoint = {
  xs:0px
  sm: 576px
  md: 768px
  lg: 992px
  xl: 1200px
}
col-count = 12
container-width = breakPoint.xl
mobile-break = breakPoint.md
//flex
horizontal = {
  start:flex-start
  end:flex-end
  center:center
  between:space-between
  around:space-around
}

verticals = {
  start: flex-start
  end: flex-end
  center: center
  baseline: baseline
  stretch: stretch
}
//fonts
body-bg = lighten(colors.gy, 97.8%)
body-fg = colors.gy
font-family = tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
font-weight = 400
font-size = 14px
line-height = 2
shadow-color = lighten(colors.gy, 60%)
font-count = 24
sizes = {
  xs:0.4em
  sm:0.8em
  md:1.2em
  lg:1.6em
}

botton-padding = sizes.sm
botton-radius = sizes.sm
